[main]

hostname = hostname
port = 993
username = username
password = supersecretpassword

[rss]

mailbox = INBOX.RSS

[twitter]

mailbox = INBOX.Twitter

[unread]

mailboxes = INBOX, INBOX.RSS, INBOX.Work